.analyzer-overlay {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 1920px;
  height: 1080px;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.analyzer-overlay-visible {
  transition-delay: 0s;visibility: visible; opacity: 0.5;
}

.analyzer-overlay-hidden {
  opacity: 0; visibility:hidden;
}

.analyzer-audio-visualizer {
  position: absolute;
  bottom: 0px;
  height: 120px;
  left: 0px;
  z-index: 5;
  width: 100%;
}

.analyzer-abr-visualizer {
  position: absolute;
  bottom: 190px;
  height: 300px;
  left: 0px;
  z-index: 5;
  width: 100%;
}

.analyzer-overlay-branding {
  position: absolute;
  top: 10px;
  height: 200px;
  width: 1920px;
}

.analyzer-overlay-branding-title {
  position: absolute;
  font-family: LevelOne, "Lucida Grande", Helvetica, Arial;
  font-size: 48pt;
  color: white;
  padding: 12px 24px;
  left: 350px;
  top: 15px;
}

.analyzer-overlay-branding-logo {
  position: absolute;
  background: url('eyevinnlogo.png') no-repeat;
  background-size: 100% 100%;
  width: 300px;
  height: 80px;
  left: 25px;
  top: 15px;
}

.analyzer-metadata {
  position: absolute;
  font-family: LevelOne, "Lucida Grande", Helvetica, Arial;
  font-size: 14pt;
  color: black;
  background: white;
  right: 60px;
  width: 400px;
  top: 140px;
  padding: 12px;
  z-index: 20;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.analyzer-metadata-visible {
  transition-delay: 0s;visibility: visible; opacity: 1;
}

.analyzer-metadata-hidden {
  opacity: 0; visibility:hidden;  
}

.analyzer-metadata h2 {
  font-size: 18pt;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.metadata {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}

.metadata td {
  text-align: center;
}

.analyzer-abrstats {
  position: absolute;
  font-family: LevelOne, "Lucida Grande", Helvetica, Arial;
  font-size: 14pt;
  color: black;
  background: white;
  left: 60px;
  width: 1780px;
  bottom: 80px;
  padding: 12px;
  z-index: 20;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.analyzer-abrstats-visible {
  transition-delay: 0s;visibility: visible; opacity: 1;
}

.analyzer-abrstats-hidden {
  opacity: 0; visibility:hidden;  
}

.analyzer-abrstats h2 {
  font-size: 18pt;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}